/**************************************
IE6 styles
**************************************/
.nav .nl2, .nav .nl3 {border:none;}

.hbox,
.hboxactive {width:310px;}

.sna1 {width:150px;}
.sna2 {width:145px;}
