/* Useful CSS3 LESS Mixins */
/*  */
:root {
  font-size: 16px;
}
body {
  font-size: 1rem;
  color: #DDD;
  background-color: #000;
}
/* a, .link {
  color: @link-color;
}
a:hover {
  color: @link-color-hover;
} */
button {
  font-size: 0.875rem;
  padding: .5em 1em;
  border: .125em solid #e3e3e3;
}
@media (min-width: 48rem) {
  button {
    font-size: 1.125rem;
  }
}
@media (min-width: 62rem) {
  button {
    font-size: 1.375rem;
  }
}
/* nav styles */
#nav {
  background: #222;
  background: rgba(34, 34, 34, 0.2);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#33222222, endColorstr=#33222222);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#33222222, endColorstr=#33222222)";
  border-color: transparent;
}
.section,
.slide {
  text-align: center;
  background-size: cover;
  background-position: center;
}
#section1 {
  background-image: url(../img/bg1.jpg);
}
#section2 {
  background-image: url(../img/bg2.jpg);
}
#section3 {
  background-image: url(../img/bg3.jpg);
}
#section4 {
  background-image: url(../img/bg4.jpg);
}
#section1 .col {
  padding: 15px;
}
#section2 .col {
  padding: 10px;
  opacity: 0;
}
#section2 .thumbnail {
  padding: 2px;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  margin: 0;
  transition: all 0.5s;
}
#section2 .thumbnail:hover {
  transform: scale(1.2);
}
#section2 .thumbnail img {
  width: 100%;
}
.fly {
  animation-name: cssfly;
  animation-duration: 1s;
  animation-timing-function: ease;
  animation-delay: 0;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-fill-mode: forwards;
}
@keyframes cssfly {
  from {
    transform: translate(1000px, 1000px) rotate(360deg) scale(10);
  }
  to {
    opacity: 1;
  }
}
.card {
  /* background: blue; */
  position: relative;
  transition: all 0.5s;
}
.card:hover {
  transform: scale(1.2);
}
.note {
  padding: 1.5em;
  display: block;
  box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.5);
  transform: rotate(-3deg);
  color: #FFF;
  text-decoration: none;
  transition: all 1s;
}
.note:hover {
  color: #FFF;
  text-decoration: none;
}
.glue {
  height: 2em;
  line-height: 2em;
  position: absolute;
  top: 0;
  left: 50%;
  margin-top: -1em;
  background: #ff9999;
  background: rgba(255, 153, 153, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccff9999, endColorstr=#ccff9999);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccff9999, endColorstr=#ccff9999)";
  box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.5);
  transform: rotate(2deg);
  text-shadow: 1px 2px 3px #000;
  transition: all 0.5s ease-in;
}
#card1 .note-gabe,
#card1 .glue {
  /* display: none; */
}
#card1 .note-gabe {
  border-radius: 0.5em;
}
#card1 .note-gabe img {
  width: 100%;
}
#card1 .note-brand {
  display: inline;
  padding: 0;
}
#card1 .note-brand img {
  /* width: 80px;
  height: 80px; */
}
#card1 .glue,
#card2 .glue {
  width: 7em;
  margin-left: -3.5em;
}
#card3 .glue,
#card4 .glue,
#card5 .glue,
#card6 .glue {
  width: 5em;
  margin-left: -2.5em;
}
#card1 .note {
  background: #FFF;
  background: rgba(255, 255, 255, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccffffff, endColorstr=#ccffffff)";
  transform: rotate(3deg);
}
#card2 .note {
  background: #000;
  background: rgba(0, 0, 0, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc000000, endColorstr=#cc000000)";
  transform: rotate(0);
}
#card3 .note {
  background: #428bca;
  background: rgba(66, 139, 202, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc428bca, endColorstr=#cc428bca);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc428bca, endColorstr=#cc428bca)";
}
#card4 .note {
  background: #5cb85c;
  background: rgba(92, 184, 92, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc5cb85c, endColorstr=#cc5cb85c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#cc5cb85c, endColorstr=#cc5cb85c)";
}
#card5 .note {
  background: #f0ad4e;
  background: rgba(240, 173, 78, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccf0ad4e, endColorstr=#ccf0ad4e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccf0ad4e, endColorstr=#ccf0ad4e)";
}
#card6 .note {
  background: #d9534f;
  background: rgba(217, 83, 79, 0.8);
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccd9534f, endColorstr=#ccd9534f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ccd9534f, endColorstr=#ccd9534f)";
}
#card1 .note:hover {
  background: #FFF;
  background: #ffffff;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffffffff);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffffffff, endColorstr=#ffffffff)";
}
#card2 .note:hover {
  background: #000;
  background: #000000;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff000000);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff000000, endColorstr=#ff000000)";
}
#card3 .note:hover {
  background: #428bca;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff428bca, endColorstr=#ff428bca);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff428bca, endColorstr=#ff428bca)";
}
#card4 .note:hover {
  background: #5cb85c;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5cb85c, endColorstr=#ff5cb85c);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ff5cb85c, endColorstr=#ff5cb85c)";
}
#card5 .note:hover {
  background: #f0ad4e;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0ad4e, endColorstr=#fff0ad4e);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#fff0ad4e, endColorstr=#fff0ad4e)";
}
#card6 .note:hover {
  background: #d9534f;
  /* background: transparent/9; */
  zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd9534f, endColorstr=#ffd9534f);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#ffd9534f, endColorstr=#ffd9534f)";
}
#card2 h3 {
  margin: 10px 0;
}
#card2 p {
  margin-bottom: 0;
}
.glyphicon-refresh-animate {
  -animation: spin .7s infinite linear;
  -webkit-animation: spin2 .7s infinite linear;
}
@-webkit-keyframes spin2 {
  from {
    -webkit-transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  from {
    transform: scale(1) rotate(0deg);
  }
  to {
    transform: scale(1) rotate(360deg);
  }
}
/* 小屏幕（平板，大于等于 360px） */
@media (min-width: 360px) {
  .container {
    width: 360px;
  }
}
/* 小屏幕（平板，大于等于 768px） */
@media (min-width: 768px) {
  .container {
    width: 720px;
  }
}
/* 中等屏幕（桌面显示器，大于等于 992px） */
/* 大屏幕（大桌面显示器，大于等于 1200px） */
.blind {
  width: 100%;
  position: absolute;
  left: 0;
}
.blind-top,
.blind-bottom {
  height: 50%;
  background: #000;
  z-index: 1500;
}
.blind-top {
  top: 0;
}
.blind-bottom {
  bottom: 0;
}
.jumbotron {
  margin: 0;
  padding: 0;
  width: 100%;
  position: absolute;
  top: 50%;
  background: none;
  text-align: center;
  z-index: 1501;
  margin-top: -25px;
}
