/**************************************
IE styles
**************************************/
.main {display:none;}
.iemain {display:block;width:100%;height:100%;background:#000;color:red;text-align:center;font-size:2em;font-weight:bold;}
.iemain a {color:red;text-decoration:underline;}
.iemain a:hover {color:#FFF;}